<div class='attribute'>
  <% @spaces.each do |space|  %>
    <form action="/book/<%=space.space_id%>" method='post'>
      <fieldset>
        <legend><b><%=space.name%> </b></legend>
        <label>Description: <%= space.description %></label> <br>
        <label>Price: £<%= space.price %></label> <br>
        <label>Dates available: <%= space.startdate %>  To  <%=space.enddate%></label> <br>
        <input type='submit' value='Book'>
      </fieldset> <br>
    </form>
  <% end %>
</div>


