<head>
  <link href="<%= url('styles.css') %>" rel="stylesheet" type="text/css" />
  </head>
<body class='attribute'>
  <form action='/options' method='get'>
    <input type='submit' value='Menu'>
  </form>
  <% @spaces.each do |space|  %>
    <form action="/book/<%=space.space_id%>" method='post'>
      <fieldset id="dark">
        <legend><b><%=space.name%> </b></legend><br>
        <label><b>Description:</b> <%= space.description %></label> <br><br>
        <label><b>Price: </b>£<%= space.price %></label> <br><br>
        <label><b>Dates available:</b> <%= space.startdate %>  To  <%=space.enddate%></label> <br><br>
        <%if !Space.is_approved?(space_id: space.space_id)%>
          <input type='submit' value='Book'>
        <%end%>
      </fieldset> <br>
    </form>
  <% end %>
</body>
