<% @spaces.each do |space|  %>
<fieldset>
  <legend><b><%=space.name%> </b></legend>
  <label>Description: <%= space.description %></label> <br>
  <label>Price: £<%= space.price %></label> <br>
  <label>Dates available: <%= space.startdate %>  To  <%=space.enddate%></label> <br>
</fieldset>
<% end %>
